Repository luke396/merriam_api_parser: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.262"
    hooks:
      - id: ruff
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        types_or: [python, markdown]
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        pass_filenames: false
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        types_or: [python, pyi]
        additional_dependencies: [black==23.3.0]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        files: ^merriam_api_parser/
        args: [
            "-rn", # Only display messages
            --errors-only,
          ]

Add request_response
  data/README.md
  data/json/tokens.json
  data/json/voluminous.json
  data/md/pariah.md
  data/md/penchant.md
  data/md/piecemeal.md
  data/tokens.json
  merriam_api_parser/json_parser.py
  merriam_api_parser/main.py
  merriam_api_parser/md_formatter.py
  merriam_api_parser/requset_resopnse.py
Due: mypy, pylint

CLI: Add sourcery
  .pre-commit-config.yaml
  .sourcery.yaml
  merriam_api_parser/__init__.py
  merriam_api_parser/json_parser.py
  merriam_api_parser/main.py
  merriam_api_parser/requset_resopnse.py
Due: mypy, pylint

API: Adjust structure and Add _io
  data/md/pariah.md
  data/md/penchant.md
  data/md/piecemeal.md
  main.py
  merriam_api_parser/_io.py
  merriam_api_parser/_json_parser.py
  merriam_api_parser/_md_formatter.py
  merriam_api_parser/_requset_resopnse.py
  merriam_api_parser/main.py
Due: mypy, pylint

STYLE: Remane
  main.py
  merriam_api_parser/_io.py
  merriam_api_parser/_json_parser.py
  merriam_api_parser/_requset_resopnse.py
  merriam_api_parser/_text_formatter.py
Due: mypy, pylint

REF: refator moudle logic
  .pre-commit-config.yaml
  data/md/pariah.md
  data/md/penchant.md
  data/md/piecemeal.md
  main.py
  merriam_api_parser/_json_parser.py
  merriam_api_parser/_requset_resopnse.py
  merriam_api_parser/_text_formatter.py
Due: mypy, pylint

TYP: fix comment
  data/md/voluminous.md
  main.py
Due: mypy

STYLE: Update pre-commit
  .pre-commit-config.yaml
  pyproject.toml
Due: none

ENH: Add more to parse 'vis'
  .markdownlint.yml
  README.md
  data/json/tokens.json
  data/md/pariah.md
  data/md/penchant.md
  data/md/piecemeal.md
  data/md/voluminous.md
  main.py
  merriam_api_parser/_io.py
  merriam_api_parser/_json_parser.py
  merriam_api_parser/_requset_resopnse.py
  merriam_api_parser/_text_formatter.py
Due: mypy, pylint

TYP: Add README and pyproject
  README.md
  pyproject.toml
Due: none

EHN: Add sbsense to md output
  data/README.md
  data/json/tokens.json
  data/md/penchant.md
  data/md/voluminous.md
  merriam_api_parser/_json_parser.py
  merriam_api_parser/_token_parser.py
Due: mypy, pylint

ENH: Add usr path input
  data/md/penchant.md
  main.py
Due: mypy

STY: Add more ruff rules
  data/md/pariah.md
  data/md/penchant.md
  data/md/piecemeal.md
  data/md/voluminous.md
  main.py
  merriam_api_parser/__init__.py
  merriam_api_parser/_io.py
  merriam_api_parser/_json_parser.py
  merriam_api_parser/_requset_resopnse.py
  merriam_api_parser/_token_parser.py
  pyproject.toml
Due: mypy, pylint

STY: Let ruff auto fix all
  pyproject.toml
Due: none

STY: Update precommit
  .pre-commit-config.yaml
Due: none

CLN: Clean codes
  data/md/pariah.md
  data/md/voluminous.md
  main.py
  merriam_api_parser/_json_parser.py
  merriam_api_parser/_token_parser.py
Due: mypy, pylint

CLN: Clean codes
  .gitignore
  data/README.md
  data/json/voluminous.json
  data/md/pariah.md
  data/md/penchant.md
  data/md/piecemeal.md
  data/md/voluminous.md
  main.py
Due: mypy

ENH: Handle not found words
  merriam_api_parser/_requset_resopnse.py
Due: mypy, pylint

CLN: Clean codes and comments
  main.py
  merriam_api_parser/_io.py
  merriam_api_parser/_json_parser.py
  merriam_api_parser/_requset_resopnse.py
Due: mypy, pylint

CLN/CLI: Split codes and update CLI config
  .sourcery.yaml
  main.py
  pyproject.toml
Due: mypy

CLI: add codespell for yaml and json
  .pre-commit-config.yaml
Due: none

BUG: Fix when 'sseq' has 'pseq' like word-'harass'
  main.py
  merriam_api_parser/_json_parser.py
Due: mypy, pylint

DOC: more readable name
  merriam_api_parser/_json_parser.py
Due: mypy, pylint

STY: Refactor codes
  main.py
  merriam_api_parser/_io.py
  merriam_api_parser/_json_parser.py
  merriam_api_parser/_requset_resopnse.py
  merriam_api_parser/_token_parser.py
  pyproject.toml
Due: mypy, pylint

API: Supports single word input
  main.py
Due: mypy

BUG: Parse {sx} failed
  merriam_api_parser/_token_parser.py
Due: mypy, pylint

Remove unnecessary comment
  merriam_api_parser/_token_parser.py
Due: mypy, pylint

Bug: match word with space
  .sourcery.yaml
  merriam_api_parser/core/__init__.py
  merriam_api_parser/core/_io.py
  merriam_api_parser/core/_json_parser.py
  merriam_api_parser/core/_requset_resopnse.py
  merriam_api_parser/core/_token_parser.py
  merriam_api_parser/tests/__init__.py
  merriam_api_parser/tests/test_token_paser.py
  pyproject.toml
Due: mypy, pylint

Bug: match word with space (#4)
  .sourcery.yaml
  merriam_api_parser/core/__init__.py
  merriam_api_parser/core/_io.py
  merriam_api_parser/core/_json_parser.py
  merriam_api_parser/core/_requset_resopnse.py
  merriam_api_parser/core/_token_parser.py
  merriam_api_parser/tests/__init__.py
  merriam_api_parser/tests/test_token_paser.py
  pyproject.toml
Due: mypy, pylint

REF: Modify the path to fix the last error
  main.py
Due: mypy

Update issue templates
  .github/ISSUE_TEMPLATE/add-more-token-parsing.md
Due: none

Update issue templates (#9)
  .github/ISSUE_TEMPLATE/add-more-token-parsing.md
Due: none

REF: refactor by copliot
  merriam_api_parser/core/_json_parser.py
  merriam_api_parser/core/_requset_resopnse.py
Due: mypy, pylint

Add pytest in pre-commit
  .pre-commit-config.yaml
  pyproject.toml
Due: none

REF: Refactor codes and Add pytest in pre-commit (#10)
  .pre-commit-config.yaml
  merriam_api_parser/core/_json_parser.py
  merriam_api_parser/core/_requset_resopnse.py
  pyproject.toml
Due: mypy, pylint

EHN: Add synonym in md output's metadata
  .pre-commit-config.yaml
  merriam_api_parser/core/_json_parser.py
  pyproject.toml
Due: mypy, pylint

EHN: Add synonym in md output's metadata (#11)
  .pre-commit-config.yaml
  merriam_api_parser/core/_json_parser.py
  pyproject.toml
Due: mypy, pylint

CI: Add codecov
  .github/workflows/codecov.yml
Due: none

Fix
  .github/workflows/codecov.yml
Due: none
